### IDE ###
.idea
## IDE ###
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/testdata/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

### <Coding standard> ###
.php-cs-fixer.cache
### <Coding standard> ###

### OTHER ###
/import/*
### OTHER ###