<form class="form col" method="post" action="{{ path('category_delete', {'id': category.id}) }}"
      onsubmit="return confirm({{ "'" ~ ('common.actions.confirm.delete'|trans) ~ "'" }});">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger">{{ 'common.actions.delete'|trans }}</button>
</form>
