{% set title = (title is defined ? title : item.note) %}
{% set width = (width is defined ? width : '50') %}

{% if value != '' %}
  <img class="smiley-icon" src="icons/smiley/{{ value }}.png" width="{{ width }}px" {% if title is defined %}title="{{ title }}"{% endif %}>
{% else %}
  <div class="field-smiley--title-hover" {% if title is defined %}title="{{ title }}"{% endif %}>N/A</div>
{% endif %}
